.MMM-newsfeedtouch .infoCenter {
  position: fixed;
  width: 80%;
  z-index: 3;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: black;
  padding: 15px;
  font-size: 40px;
  line-height: 130%;
  box-shadow: 0px 0px 20px 1px #eee;
  cursor: pointer;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.MMM-newsfeedtouch .fed {
  cursor: pointer;
}
